body {
  background:#6b6b69;
  color:white;
}


#title {
  font-size:25px;
  text-align: center;
}

#rest1 {
  font-size:15px;
  text-align: center;
}

#text div {
  position:relative;
  height: 100px;
  width: 100px;
  border: 1px dashed gray;
  display: inline-block;
  margin: 0;
}

#text {
  width:101px;
  height:312px;
  background:black;
  border:5px solid black;
  margin:auto;
}

#images {
  width: 100%;
  margin-left: 467px;
}

img {
  height: 100px;
  width: 100px;
}

#drag1,
#drag2,
#drag3
 {
  height: 100px;
  width: 100px;
  
  display: inline-block;
}

#Button
{
font-size: 15px;
margin-left: 50px;
box-sizing: border-box;
color:white;
background-color:rgb(55, 9, 220);
}
#Button:active{

  background-color:  rgb(0, 255, 213);
  
  }










  