*{
  margin: 0;
  padding: 0;
}

body {
  background:#6b6b69;
  color:white;
}

#title {
  font-size:23px;
  text-align: center;
}

#rest1 {
  font-size:18px;
  text-align: center;
}

#text div {
  position:relative;
  height: 100px;
  width: 99px;
  border: 1px dashed gray;
  display: inline-block;
  margin: 0;
}

#text {
<<<<<<< HEAD
 /* width:608px;
  height: 101px;  */
  /* margin:  auto;  */
=======
  width: 624px;
  height: 102px;
>>>>>>> 90d10754d939f19bf0e7880da33b1bc48593f242
  background:black;
  border:4px solid black;
  margin-top: 5px; 
  margin-left: 329.5px; 
  display: flex;
  flex-wrap: wrap;
  max-width: 609px;
}


#images {
  gap: 3px;
  display: flex;
  flex-wrap: wrap;
  max-width: 617px;
  margin: 0 auto;
}
#images {
  width: 100%;  
}

img {
  height: 100px;
  width: 100px;
}

#drag1,
#drag2,
#drag3,
#drag4,
#drag5,
#drag6
 {
  height: 100px;
  width: 100px;
  
   display: inline-block; 
}

#Button
{
font-size: 18px;
box-sizing: border-box;
margin-top: 50px;
margin-left: 30px;
color:white;
background-color:rgb(55, 9, 220);
}
#Button:active{

  background-color:  rgb(0, 255, 213);
  
  }
<<<<<<< HEAD
=======
#Button:hover {
  opacity: 0.4;
}

#myimages {
  height: 100px;
  width: 100px;
  border: 1px dashed gray;
  margin-left: 317px;
  margin-top: 50px;
  display: flex;
  gap: 7.5px;
}





>>>>>>> 90d10754d939f19bf0e7880da33b1bc48593f242
