*{
  margin: 0;
  padding: 0;
}

body {
  background:#6b6b69;
  color:white;
}

#title {
  font-size:23px;
  text-align: center;
}

#rest1 {
  font-size:18px;
  text-align: center;
}

#text div {
  position:relative;
  height: 100px;
  width: 100px;
  border: 1px dashed gray;
  display: inline-block;
  margin: 0;
}

#text {
  width:734px;
  height: 101px;
  background:black;
  border:5px solid black;
  margin:auto;
  margin-top: 5px;
  margin-left: 275px;
  
}

#images {
  margin-left: 276.5px;
  display: flex;
  gap: 7.5px;
}
#images {
  width: 100%;  
}

img {
  height: 100px;
  width: 100px;
}

#drag1,
#drag2,
#drag3,
#drag4,
#drag5,
#drag6,
#drag7
 {
  height: 100px;
  width: 100px;
  
  display: inline-block;
}

#Button
{
font-size: 18px;
box-sizing: border-box;
margin-top: 50px;
margin-left: 30px;
color:white;
background-color:rgb(55, 9, 220);
}
#Button:active{

  background-color:  rgb(0, 255, 213);
  
  }

#myimages {
  height: 100px;
  width: 100px;
  border: 1px dashed gray;
  margin-left: 276.8px;
  margin-top: 50px;
  display: flex;
  gap: 7.5px;
}



  

